/_site/
.quarto/
/.cache/
/notebook-exports/.cache/
/LocalPreferences.toml
.DS_Store
appendices/*.log
appendices/solutions/*.html
appendices/solutions/*_files/
*.jl.cov
*.jl.*.cov
*.jl.mem

**/*.quarto_ipynb

/_pdf/
/index_files/
/modeling-epidemics-with-julia.tex
